queen-application/src/main/resources/templates/campaign_integration_template.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Campaign">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="Label" type="xs:string" />
                <xs:element name="Sensitivity" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="NORMAL" />
                            <xs:enumeration value="SENSITIVE" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="Metadata">
                	<xs:complexType>
			            <xs:sequence>
			            	<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
			            </xs:sequence>
        			</xs:complexType>
			    </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>