src/main/resources/templates/nomenclatures_integration_template.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Nomenclatures">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Nomenclature">
                	<xs:complexType>
			            <xs:all>
			            	<xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:string"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="Label" type="xs:string"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="FileName" type="xs:string"/>
			            </xs:all>
        			</xs:complexType>
			    </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>